* {
  box-sizing: border-box;
}

header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.header-left {
  width: 150px;
}

.header-left > img {
  width: 100%;
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  list-style-type: none;
}

.header-right-inner:not(:last-child) {
  margin-right: 30px;
}

.top-container {
  display: flex;
  flex-direction: row-reverse;
}

.top-img-box {
  position: relative;
}

.top-img-box > img {
  width: 60vw;
  height: auto;
}

.top-message-container {
  position: absolute;
  width: 730px;
  top: 5%;
  transform: translate(-350px, 0);
}

.top-message-en {
  color: mediumvioletred;
  font-family: "Indie Flower", cursive;
  font-size: 80px;
  line-height: 8vw;
}

.top-message-ja {
  color: mediumvioletred;
  margin: 0;
  font-size: 27px;
}

.emp {
  color: cadetblue;
}

.top-message-about {
  font-size: 20px;
  margin: 0;
  color: gray;
}

.category-en {
  color: mediumvioletred;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  margin: 0;
}

.category-ja {
  margin: 0;
  color: gray;
  font-size: 30px;
}

.inner-container {
  width: 75vw;
  margin: auto;
  padding: 50px 0;
}

.second-inner-container {
  width: 75%;
  margin: 0 auto;
}

.news-list-wrap {
  /* margin: 30px 0; */
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  font-size: 20px;
}

.news-list-wrap > ul {
  padding: 0;
}

.news-list-content {
  color: gray;
  list-style-type: none;
  line-height: 80px;
  border-bottom: 1px solid gray;
}

.news-list-content:last-of-type {
  margin-bottom: 40px;
}

.news-list-content-category {
  background-color: mediumvioletred;
  color: white;
  padding: 0 30px;
  margin: 0 30px;
  border-radius: 30px;
}

.about-container {
  background-color: gainsboro;
}

.about-container .category-en {
  text-align: center;
}

.about-container .category-ja {
  text-align: center;
}

.about-inner {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  position: relative;
}

.about-left {
  width: 40%;
  color: gray;
  font-size: 22px;
}

.about-right {
  width: 40%;
}

.about-right > img {
  width: 100%;
  height: auto;
}

.service-container {
  padding: 30px 0;
  color: white;
}

.service-container .service-explain {
  line-height: 30px;
  font-size: 20px;
}

.service-content-grid {
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: 1fr 1fr;
  margin: 30px 0;
}

.service-content-left {
  padding: 50px;
  grid-row: 1/3;
  grid-column: 1/2;
  background-color: mediumvioletred;
  display: flex;
  flex-direction: column;
}

.service-content-left > .service-title {
  text-align: center;
}

.service-content-right {
  padding: 50px 30px;
  grid-row: 1/2;
  grid-column: 2/3;
  background-color: rgb(185, 94, 152);
  display: flex;
  align-items: center;
}

.service-content-right:nth-of-type(2) {
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: rgb(153, 113, 138);
}

.service-img {
  width: 13vw;
  margin: 0 auto;
}

.service-img img {
  width: 13vw;
  height: auto;
}

.blog-container {
  background-color: gainsboro;
}

.blog-cards-wrap {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.blog-card {
  width: 30%;
  border-radius: 15px;
  background-color: white;
}

.blog-card-img > img {
  width: 100%;
  height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.blog-card-img {
  position: relative;
}

.blog-card-img span {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  border-top-left-radius: 15px;
  background-color: mediumvioletred;
}

.blog-card-text {
  padding: 25px;
}

.blog-card-title {
  margin-top: 0;
  font-size: 20px;
}

.blog-card-label {
  color: gray;
  display: flex;
  justify-content: space-between;
}

.blog-card-label p {
  margin: 0;
}

.service-button-wrap {
  text-align: center;
  margin-top: 50px;
}

.service-button {
  color: mediumvioletred;
  font-weight: bold;
  padding: 15px 50px;
  border-style: solid;
  border-width: 2px;
  border-color: mediumvioletred;
  border-radius: 40px;
  background-color: white;
}

.company-table {
  width: 100%;
  margin: 30px 0;
  text-align: left;
  line-height: 50px;
  color: gray;
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px gray solid;
}

th,
td {
  padding: 0 20px;
}

th {
  width: 30%;
  background-color: gainsboro;
}

.bottom-container {
  display: flex;
}

.bottom-content {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-content img {
  width: 100%;
  height: auto;
}

.bottom-title {
  position: absolute;
  color: white;
}

.contact-container {
  margin: 80px 0;
  text-align: center;
}

.contact-text {
  color: gray;
  font-size: 20px;
  font-weight: bold;
}

.contact-line {
  font-size: 50px;
  color: mediumvioletred;
  margin-top: 0;
  margin-bottom: 15px;
}

.contact-button {
  width: 250px;
  margin: 0 auto;
  display: block;
  margin-top: 15px;
  color: white;
  padding: 20px 60px;
  border-radius: 300px;
  background: linear-gradient(90deg, rgb(255, 50, 187), mediumvioletred);
  box-shadow: 0 7px 0 rgb(110, 10, 10);
  position: relative;
}

.contact-button::before {
  content: "";
  background: url(../img/mailicon.svg);
  width: 30px;
  height: 30px;
  background-size: cover;
  position: absolute;
  right: 200px;
  top: 18px;
}

footer {
  color: gray;
  background-color: gainsboro;
  text-align: center;
  padding: 10px;
}
